
.question{
    text-align: center
}

.question img{
    margin: 35px 0 ;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

h2 {
    font-size: 40px;
}

ul {
    position: relative;
    bottom: 15px;
}